.section-header p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 16px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #55cf55 !important;
}
.btn-primary:hover{
    background-color: #86f086 !important;
}
.bg-dark{
    background-color: #415c41 !important;
}

body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 100px 200px;
    
    color: rgb(39, 47, 62);
}

.box {
    background-color: #8fdf8f;
    color: rgb(39, 47, 62);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.a {
    grid-column: 1/3;
    grid-row: 1;
}
.b {
    background-color: #c1ffc7;
    grid-column: 3;
    grid-row: 1/3;
}