{% extends "inicio.html" %} 

{% block content2 %}
<body>
    <div class="section-header">
        <h3 class="section-title">¿Sabes cuáles son los 17 objetivos de desarrollo sostenible?</h3>
        <span class="section-divider"></span>
        <hr/>
        <p class="section-description">
            Los objetivos de desarrollo sostenible (ODS) son una llamada a la acción a todos los países para erradicar la pobreza y proteger el planeta así como garantizar la paz y la prosperidad.
        </p>
        <hr/>
        <div class="full-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bewINxvw3J0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>							
        </div>
    </div>
    {% block acordeon %}
            
    {% endblock  %}

</body>
{% endblock content2 %}
