{% extends "inicio.html" %} 

{% block content2 %}
    <h1>Filtros de busqueda:</h1>
    <p>Titulos similares y fecha con formato dd/mm/yyyy</p>
    <form method="get">
        {{my_filter.form}}
        <button class="btn btn-primary" type= "submit">Buscar</button>
    </form>
    <div class= "row"> 
        {% for object in posts_f %}
          {% if not object.hidden %}
            <div class="col-4">
              <a href="{{ object.get_absolute_url }}">  
              <div class="card" style="width: 18rem;">
                <a href="{{ object.get_absolute_url }}">  
                <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ object.title }}</h5>
                  <p class="card-text">{{ object.content|truncatechars:40 }}</p>
                </a>
                  <hr/>
                  <p>
                    <span><i class="fas fa-eye ml-2"></i> {{ object.get_view_count }}</span>
                    <span><i class="fas fa-thumbs-up ml-2"></i> {{ object.get_like_count }}</span>
                    <span><i class="fas fa-comment ml-2"></i> {{ object.get_comment_count }}</span>
                  </p>
                  <p class= "card-text">
                    Posted {{ object.timestamp | timesince }} ago
                  </p>
                </div>
              </div>
            
            </div>
          {% endif %}
        {% endfor %}
        </div>
{% endblock content2 %}
